  button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }

  button.delete {
    position: static;
  }
  
  button.add-block {
    position: absolute;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    width: 30px;
    height: 30px;
    top: 35%;
    right: -9px;
  }
  
  button.add-fields {
    position: absolute;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 50%;
    font-size: 14px;
    width: 30px;
    height: 30px;
    top: 84%;
    right: 48.5%;
  }